#wrap {max-width: 100%; min-width: 1800px;}

/* 헤더 */
header {
    display: flex; flex-flow: row nowrap; width: 100%; height: 62px; 
    justify-content: space-between; align-items: center;  background: #fff;
    padding: 0 50px; text-align: center; z-index: 999; position: sticky; position: absolute; /* 헤더상단고정 */
    /* position: fixed; */ /* 헤더 스크롤시 고정 */

}
.gnb {display: flex; flex-flow: row nowrap; /* gap:80px ; */}
.gnb li a {color: #4D4D4D; font-weight: 500; padding: 25px 40px;}
.right_icon {display: flex; flex-flow: row nowrap; gap: 17px;}
.right_icon li a {color: #4D4D4D; font-size: 0.75rem;}

/* 메인배너 스와이퍼 */
.swiper-slide .main_sl {position: relative;}
.main_txt {position: absolute; z-index: 9999; top: 40%; left: 50%; transform: translateX(-50%); text-align: center;}
.main_txt .lynk_main_txt {font-size: 3rem ;color:#E3E3E3 ; }
.main_txt h2 {color:#E3E3E3; font-size:6rem; font-weight:600 ;} 
.main_txt h3 {color:#E3E3E3; font-size:1.313rem; line-height: 150%; padding-top: 70px;} 

.swiper-slide.second {position: relative;}
.swiper-slide.second::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    pointer-events: none;
}

.swiper-slide a {display: block;}
.swiper-slide img {display: block;}

/* .swiper-navigation-icon {color: #DEDEDE; font-size: 15px; width: 15px !important;} */
.swiper-button-next svg, .swiper-button-prev svg {width: 15px !important;}
.swiper-button-next svg {padding-right: 25px;}
.swiper-button-prev svg {padding-left: 25px;}


/* 카테고리 */
.category .category_img > a {position: relative; display: block;}
.category .category_img img {display: block;} 
.category .category_img .category_txt {position: absolute; top: 50%; left: 50%; transform: translateX(-50%); z-index: 999;}
.category {display: flex; flex-flow: row nowrap; width: 100%; overflow: hidden;}

.category .category_img a::after {
    position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; transition: opacity 0.3s ease
}
.category_txt {font-size: 3rem; color: #FFFFFF; font-weight: 500; opacity: 0; transition: opacity 0.3s ease}

.category .category_img a:hover::after {opacity: 1;}
.category .category_img a:hover .category_txt {opacity: 1;}

/* new 신상부분 */
.new {margin-left: 140px; margin-top: 115px;}
.new_title {display: flex; flex-flow: row nowrap; align-items: end; padding-bottom:50px ;}
.new_title h2 {font-size: 2.25rem; color: #3D3D3D; font-weight: 500;}
.new_title p {font-size: 0.875rem; color: #3D3D3D; font-weight: 300; padding-left: 15px;}
.new_menu {padding-bottom: 20px;}
.new_menu a:first-child span {color: #2B2B2B;}
.new_menu a span {color: #7C7C7C; padding-right:30px;}

.item_content .swiper-wrapper {margin-bottom: 35px;}
.item_content .swiper-slide h3 {font-size: 0.938rem; color: #3D3D3D; font-weight: 500;padding:10px 0 25px ;}
.item_content .swiper-slide .new_price {font-size: 1.25rem; color: #3D3D3D; font-weight: 600;}
.item_content .swiper-slide del {color: #AEAEAE; font-size: 0.938rem;}

/* choice 초이스부분 */
.choice {display: flex; flex-flow: row nowrap; margin: 170px 0 160px;}
.choice_left_img { height: 439px; position: relative; overflow: hidden;}
.choice_left_img img {width:882px; display: block; position: relative; transition: transform 0.5s ease;}
.choice_left_img:hover img {
    transform: scale(1.05); 
}

.choice_txt #choice_btn {}
.choice_txt #choice_btn svg {padding-top: 58px; }
.choice_txt #choice_btn:hover svg { fill: #B4B4AC; }

.choice_left_img .choice_txt {
    position: absolute; top: 35%; left: 50%; transform: translateX(-50%); 
    z-index: 9999; width:469px ; text-align: center;
}
.choice_left_img .choice_txt span {
    font-family: 'Abhaya Libre', serif; color: #F2F2F2;
    font-size: 3.75rem; font-weight: 700; 
}
.choice_left_img .choice_txt p {text-align: center; font-weight: 500; color: #E4E4E4; padding-top:14px ;}

.choice_right_img {width: 1038px; height: 440px;}
.choice_right_img .swiper {width: 100%; height: 100%;}

/* best 베스트 부분 */
.best {margin-left: 140px; margin-bottom: 226px;}
.best_item {display: flex; flex-flow: row nowrap;}

.best_left_img {margin-right: 10px; position: relative;}
.best_left_img img {display: block;}
.best_left_img::after {
    content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.4); z-index: 10;
}

.best_item_txt {position: absolute; top: 83%; left: 50%; transform: translateX(-50%); z-index: 9999; text-align: center;}
.best_item_txt h3 {font-size: 1.5rem; color: #FFFFFF ; width:239px; font-weight: 500; padding-bottom: 13px;} 
.best_item_txt span {font-size: 0.938rem; color: #FFFFFF ;font-weight: 500;}

/* field 필드부분 */
.field {width: 1640px ; margin: 0 auto;}
.field_top {display: flex; flex-flow: row nowrap;}
.field_left_img {position: relative; }
.field_left_img a {position: relative; display: block;}
.field_left_img img {display: block;}

.field_left_img a::after {
    position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}
.field_txt {
    display: flex; flex-flow: column nowrap; text-align: center; position: absolute; 
    top: 28%; left: 50%; transform: translateX(-50%);
}

.field_txt h2 {font-family: 'Abhaya Libre', serif; color: #E4E4E4; font-size:5rem ; font-weight: 700; width: 584px; padding-bottom: 41px ;}
.field_txt .field_sub_txt {color: #E4E4E4; font-size:1.25rem ; padding-bottom:39px ; font-weight: 500;}
.field_txt .field_sub_txt2 {color: #E4E4E4; font-size: 0.813rem; line-height: 130%; padding-bottom: 43px;}
#field_btn svg:hover rect {fill: #25292C !important;}

.field_bottom_content {}
.field_bottom {margin:10px 0 167px ; display: flex; flex-flow: row nowrap; gap: 15px; justify-content: center;}
.field_item h3 {color: #3D3D3D; font-size:0.875rem ; font-weight: 500; padding:15px 0 25px ;}
.field_item .field_price {color: #3D3D3D; font-size: 1.125rem; font-weight:600 ;}
.field_item del {color:#AEAEAE ; font-size: 0.875rem;}

/* player 플레이어부분 */
.player {width:1640px ; margin: 0 auto;}
.player_content > img {padding-bottom: 30px;}
.player_inner {display: flex; flex-flow: row nowrap; padding-bottom: 15px;}
.player_txt {padding-left: 15px;}
.player_txt h2 {font-size: 0.813rem; color: #3D3D3D; padding-top: 10px; padding-bottom: 37px; font-weight: 500;}
.player_txt del {font-size:0.813rem ; color: #7C7C7C;}
.player_txt span {font-size:0.875rem ; color: #3D3D3D; font-weight: 500;}
.player_inner svg {padding-left: 133px; padding-top: 40px;}
.player_array {display: flex; flex-flow: row nowrap; gap:45px ; margin-bottom: 167px;}

/* magazine 매거진 부분 */
.magazine {width: 100% ;height:737px ; background: #F3F3F3; display: flex; flex-flow: row nowrap; padding: 100px 140px; margin-bottom: 240px; }
.magazine img {display: block;}
.magazine_2 .magazine_bg {
    width:373px ; height: 182px; background: #212121; color: #BCBCBC; 
    font-family: 'Abhaya Libre', serif; font-size: 3rem; line-height:182px ; text-align: center;
}

.magazine_content1 {padding-right: 10px; padding-bottom: 11px;}
.magazine_content2 {display: inline-block;}
.magazine_content3 {padding-bottom: 10px; padding-right:11px ;}
.magazine_content4 {padding-right:10px ;}


.magazine_item {position: relative; height: 557px;}
.overlay {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; text-align: center;}
.overlay_last {top: 32%; left: 50%; transform: translateX(-50%); text-align: center;}
.number {font-size:1.5rem ; color:#F2F2F2 ; padding-bottom: 16px;}
.year {color:#F2F2F2 ; font-size:2rem ;padding-bottom: 66px;}
.magazine_txt {color:#F2F2F2 ; font-size: 0.875rem; line-height: 150%;}
.overlay p {color:#F2F2F2 ;}
.overlay p:nth-of-type(2) {font-size: 1.188rem; font-weight: 500; margin-top: 25px;}


.magazine_item::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 1;
}
.magazine_item:hover::after {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
/*.magazine_item 호버 시 텍스트 나타나게 함 */
.magazine_item:hover .overlay {
    opacity: 1;
}

/* 푸터 */
footer {width: 100%; height:361px; background-color: #252525; }
.f_content {display: flex; flex-flow: row nowrap; width: 1294px ; margin: 0 auto; padding-top: 68px; justify-content: space-between;}
.f_left {display: flex; flex-flow: row nowrap;}

.f_left .f_txt a{color: #C7C7C7; font-size: 0.938rem; display: block; padding-bottom: 25px;}
.f_left .txt2 {padding-left: 73px;}
.f_center > h3 {color: #C7C7C7; font-size: 0.938rem; padding-bottom:20px ;}
.f_center  > span {color: #C7C7C7; font-size: 0.938rem; line-height: 150%;}
.f_right > h3 {color: #C7C7C7; font-size: 0.938rem; padding-bottom: 20px; }
.f_right .f_number {color: #E5E5E5; font-size: 2rem; font-weight: 500; display: block; padding-bottom: 9px;}
.f_right > p {color: #C7C7C7; font-size: 0.938rem; line-height: 150%; padding-bottom:80px ;}
.f_right span {color: #C7C7C7; font-size: 0.813rem; }