header {
    display: flex; flex-flow: row nowrap; width: 100%; height: 62px; 
    justify-content: space-between; align-items: center; position: sticky; background: yellow;
    padding: 0 50px; text-align: center; 

}
.gnb {display: flex; flex-flow: row nowrap; gap:80px ;}
.right_icon {display: flex; flex-flow: row nowrap; gap: 17px;}